# Angular
/.angular
/dist
*.log

# Node
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Firebase
.firebase
*.cache

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local
